.main {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 2em;
}

.main .img img{
    height: 100%;
    width: 100%;
}

.item-info {
    display: grid;
    row-gap: 2em;
    padding: 1em 0 1em 0;
    font-family: 'Roboto', 'Noto', sans-serif;
}

.name-price-wrapper {
    display: grid;
    row-gap: 0.5em;
}

.name {
    font-size: 22px;
}

.price {
    font-size: 0.9em;
    color: #757575;
}

.form {
    display: grid;
    row-gap: 1em;
}

.form .size, .form .quantity {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-weight: 100;
    font-size: 13px;
    color: #757575;
}

.form label {
    display: flex;
    align-items: center;
}

.form select {
    width: 100%;
    border: none;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: transparent;
}

.description-wrapper {
    display: grid;
    row-gap: 1em;
    padding-top: 2em;
}

.description-wrapper .text, .feature{
    font-weight: 300;
    font-size: 13px;
    color: #757575;
}

.feature ul {
    padding-left: 3em;
}

.footer {
    margin-top: 0;
}

hr {
    /* size: 1px; */
    border: none;
    border-top: 0.5px solid #757575;
}

/* For Mobile and Tablet View change the button view */
@media only screen and (max-width: 768px) {
    .item-info .shop-now {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0%;
        bottom: 0%;
        width: 100%;
        height: 4.7em;
        background-color: #172C50;
        color: white;
    }
}

/* For Desktop view of item page */

@media only screen and (min-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 2em;
        padding-top: 4.5em;
        grid-template-areas: 
        'img item-info'
        'img item-info'
        'img item-info'
        '. item-info'
        '. item-info';
    }

    .item-info {
        padding-top: 0%;
        grid-area: item-info;
    }

    .img {
        grid-area: img;
    }
}